@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
body{
color: #7e7e7e !important;
font-size: 14px !important;
line-height: 27px !important;
overflow-x: hidden !important;
letter-spacing: 1px !important;
font-weight: normal !important;
font-family: 'Quicksand', sans-serif !important;
font-weight: 400 !important;
}
header{
    margin: auto;
    padding: 0px;
}
.class-header{
    padding: 20px 40px 20px 40px !important;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1311px;
}
.header-menu{
    color: #7e7e7e;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-right: 20px;
    cursor: pointer;
}
.header-img{
    margin-right: 14px;
    cursor: pointer;
}
.top-of-header{
    height: 60px;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 60px;
    margin: 10px 0px 15px 0px;
}
.responsive_header_div{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 0px !important;
    width: 100% !important;
}
.tph-left-side{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 13px;
    color: #7e7e7e;
}
.tph-right-side{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    
    font-size: 13px;
    color: #7e7e7e;
}
.symbol-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}




.under-the-header1{
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 28, 0.2)), to(rgba(28, 28, 28, 0.7))) repeat scroll 0% 0%;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(rgba(28, 28, 28, 0.2) 0%, rgba(28, 28, 28, 0.7) 100%) repeat scroll 0% 0%;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(28, 28, 28, 0.2) 0%, rgba(28, 28, 28, 0.7) 100%) repeat scroll 0% 0%;
    height: 800px;
}
.under-the-header2{
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 28, 0.2)), to(rgba(28, 28, 28, 0.7))) repeat scroll 0% 0%;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(rgba(28, 28, 28, 0.2) 0%, rgba(28, 28, 28, 0.7) 100%) repeat scroll 0% 0%;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(28, 28, 28, 0.2) 0%, rgba(28, 28, 28, 0.7) 100%) repeat scroll 0% 0%;
    height: 800px;
}
.nd_options_background_position_center_bottom {
    background-position: center center;
}
.nd_options_background_size_cover {
    background-size: cover;
}
.nd_options_section {
    width: 100%;
}
.main-li{
    list-style: none;
    position: relative;
   
}
.main-li ul{
    position: absolute;
    top:30px;
}
.main-li li:hover{
    background-color: #f9f9f9;
    cursor: pointer;
}

.main-li a{
    text-decoration: none;
    padding: 14px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    color: #ffffff;
}
.secondary-li{
    color: white;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
    line-height: 15px !important;
}

.logo-ristorante{
    padding-top: 10px;
}
.header-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 !important;
    margin: 0 !important;
}
.div-under-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 10px 0px 10px;   
}

.h1-book-a-table{
    font-family: 'Kristi', cursive;
    font-size: 120px;
    color: white;
    font-weight: 400;
}
.empty-for-height{
    height: 200px;
}
.home-li{
    display: none;
}

.menu-home:hover .home-li{
    display: block;
}
.about-li{
    display: none;
}
.menu-about:hover .about-li{
    display: block;
}
.pages-li{
    display: none;
}
.menu-pages:hover .pages-li{
    display: block;
}
.list-of-services{
    width:100%;
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.services-ul{
    display: none;
    position: absolute;
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;

}

.list-of-services:hover .services-ul{
    display: block;
}
.main-li ul{
    margin-left: 0px;
    padding-top: 0px;
    width: 195px;
    z-index: 999;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    background-color: white;
    
}
.secondary-li{
    color: #7e7e7e;
    padding: 15px 25px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0px 2px 5px #f1f1f1;
            box-shadow: 0px 2px 5px #f1f1f1;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
}
.list-of-menu{
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu-ul{
    display: none;
    position: absolute;
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}
.list-of-menu:hover .menu-ul{
    display: block;
}
.hot{
   padding: 3px 5px;
    background-color: #b66565;
}
.book-for-hot::after{
    content: "HOT";
    float: right;
    background-color: #b66565;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}
.best-for-about::after{
    content: "BEST";
    float: right;
    background-color: #c0a58a;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}
.delivery-for-new::after{
    content: "NEW";
    float: right;
    background-color: #2d2d2d;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}
.list-of-contact{
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact-ul{
    display: none;
    position: absolute;
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}
.list-of-contact:hover .contact-ul{
    display: block;
}
.list-of-about{
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.about-ul{
    display: none;
    position: absolute;
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}
.list-of-about:hover .about-ul{
    display: block;
}
.main-menu-ul{
    display: none;
}
.menu-menu:hover .main-menu-ul{
    display: block;
}
.shop-li{
    display: none;
}
.menu-shop:hover .shop-li{
    display: block;
}

.news-li{
    display: none;
}
.menu-news:hover .news-li{
    display: block;
}
.list-of-singlePost{
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.single-post{
    display: none;
    position: absolute;
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}
.list-of-singlePost:hover .single-post{
    display: block;
}
.main-contact-ul{
    display: none;
}
.main-contact:hover .main-contact-ul{
    display: block;
}
.book-a-table{
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px !important;
    padding: 0 !important;
    margin-left: 10px;
}
.book-a-table-ul{
    top: 35px !important;
}
.message-png{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 !important;
    cursor: pointer;
}
.main-li a{
    text-decoration: none !important;
}
.main-li a:hover{
    color: white;
}
.middle{
    width: 1200px;
    margin: auto;
    padding: 0px;
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}
.right-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* .left-header{
    display: flex;
} */
.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo_responsive img{
    width: 120px;
    height: 39px;}
.logo_responsive{
    margin-right: 50px;
}
.hamburger{
    width: 25px;
    height: 25px;
    /* background-color: #1C1C1C
; */
    /* margin-right: -800px; */
    float: right;
}
.line{
    margin-top: 5px;
    background-color:#7e7e7e;
    width: 25px;
    height: 2px;
}
.inhamburger{
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0px;
    right: -600px;
    z-index: 10;
    overflow-x: scroll;
    -webkit-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
}
.hamburger-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color:  rgb(45, 45, 45);
}
.home-ul{
    /* background-color:blanchedalmond; */
    list-style: none;
    position: relative;
}
.hamburger-ul-li{
    list-style: none;
}
.hamburger-ul-li li{
    cursor: pointer;
}
.hamburger-ul-li a{
    font-size: 16px;
    text-decoration: none;
    /* list-style: none; */
    color: #fff;
    font-weight: normal;
    letter-spacing: 0px;}
.in-home-li{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 35px;
    color: white;
    list-style: none;
}
.hamburger-ul-li-in-li{
    list-style: none;
}
.in-home-second-li span{
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 35px;
}
.hamburger-ul-li-bookatable{
    list-style: none;
    padding: 0px !important;
}
.hamburger-ul-li-bookatable li{
    cursor: pointer;
}
.hamburger-ul-li-bookatable a:hover{
    text-decoration: none !important;
    color: white !important;
}
.hamburger-ul-li-bookatable a{
    list-style: none;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px !important;
    padding: 7px 15px !important;}
.hamburger-x img{
    width: 20px;
    height: 20px;
}
.hamburger-x{
    width: 25px;
    height: 25px;
    /* float: right; */
    position: absolute;
    top: -5px;
    right: 20px;
    cursor: pointer;
}
.show{
    /* transition: 0.7s; */
    right: 0;
}
.hamburger-ul-li a:hover{
    text-decoration: none !important;
    color: white !important;
}
.three-pict{
    padding: 55px;
}
.three-pict-back{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(101,100,96,0)),color-stop(60%, rgba(101,100,96,0.1)),to(rgba(101,100,96,0.65)));
    background: -o-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
}
.best-solutions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.times{
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/02/para-01.jpg?id=1249) !important;
    background-repeat: no-repeat !important;
    background-size: 65%;
    background-position: center !important;
}
.times p{
    color: white;
}
.opening-times{
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/bg_01.jpg?id=525) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    height: 100%;
}
.opening-times h1{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}
.opening-times .time{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.find-us-here{
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/bg_02.jpg?id=526) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin-top: 100px;
    height: 100%;
}
.find-us-here h1{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}
.linear-gradient-pictures{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(101,100,96,0)),color-stop(60%, rgba(101,100,96,0.1)),to(rgba(101,100,96,0.65)));
    background: -o-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
}
.specialist{
    margin-top: 100px;
}
.specialist-background{
    /* background: linear-gradient(to bottom, rgba(45,45,45,0.2) 0%, rgba(45,45,45,0.9) 100%), url("http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/para-08.jpg"); */
    /* background-size: cover;
    background-position: center; */
}
.specialist-background .col-12{
    padding: 100px 270px;
    margin: 0;
}
.specialist-background h1{
    font-size: 50px;
    line-height: px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #ffffff;
}
.specialist-background p{
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 3px;
    font-weight: lighter;
    color: #ffffff;
}
.img-background{
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/img-15.jpg?id=640) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: center;
}
#demo2{
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
#demo2:hover{
    opacity: 0.5;
    cursor: pointer;
}
.promotion{
    max-width: 1184px !important;
    margin-top: 50px;
}
.menu-name{
    font-weight: lighter !important;
    color: white !important;
    letter-spacing: 3px;
    font-size: 17px;
    line-height: 17px;
    position: absolute;
    bottom: 28px;
}
.menu-name:hover{
    text-decoration: none;
}
.menu-name2{
    font-weight: lighter !important;
    color: white !important;
    letter-spacing: 3px;
    font-size: 17px;
    line-height: 17px;
    position: relative;
    bottom: 50px;
}
.menu-name2:hover{
    text-decoration: none;
}
.center_words{
    margin-top: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.bestsolutions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.center_words h2{
    font-family: 'Kristi', cursive !important;
    font-size: 70px;
    color: #eeeeee;
}
.our_services{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    position: absolute;
    top: 50px;
}
.our_services h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: #2d2d2d;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 2px;
}
.description_up{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}
.description_up .price{
    font-size: 17px;
    color: #2d2d2d;
    margin-bottom: .5rem;
    font-weight: normal;
    background-color: white;
    
    /* line-height: 1.2; */
}
.description_up .meals_name{
    font-size: 17px;
    line-height: 17px;
    color: #2d2d2d;
    font-weight: normal;
    z-index: 1;
    background-color: white;
}
input::-webkit-input-placeholder{
    font-size: 15px;
}
input::-moz-placeholder{
    font-size: 15px;
}
input:-ms-input-placeholder{
    font-size: 15px;
}
input::-ms-input-placeholder{
    font-size: 15px;
}
input::placeholder{
    font-size: 15px;
}
.my_container{
    width: 1200px;
    margin: auto;
}
.description_down{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media only screen and (max-width: 1199px){
    .latest-promotions p{
        font-size: 19px !important;
    }
    .lunch h1{
        font-size: 96px !important;
    }
    .navbar-book{
        letter-spacing: 1px !important;
        font-size: 15px !important;
        line-height: 15px !important;
        padding: 14px 29px !important;
    }
    .left-header{
        display: none !important;
    }
    .right-header{
        display: none !important;
    }
    .navbar{
        display: none !important;
    }
 .my_container{
    width: 960px;
 } 
 .fixed-backet{
    display: none;
}
.fixed-small{
    display: none;
}
.card{
    padding: 40px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.email{
    width: 60% !important;
}
.subscribe{
    padding: 10px 20px;
    width: unset !important;
}
.service-info{
    margin-bottom: 30px;
} 
.our-news{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 75px 0px !important;
} 
.our-news .row{
    width: 960px !important;
}
.all-news{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
}
.our-news img{
    width: 930px !important;
}
.linear-gradient-img{
    width: 930px !important;
}
.our-news-text{
    padding: 50px 20px !important;
}
.style-data span{
    margin-bottom: 40px;
}
.name2{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.video-size{
    margin-bottom: 20px !important;
}
.promotion{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 77px 0px;
}
.promotion .row{
    width: 960px;
}
.special-style{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.same-width{
    width: 930px;
}
.find-us-here{
    margin-top: 0px !important;
}
.times{
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
}
.times .row{
    width: 960px !important;
}
.times{
    background-size: 0%;
}
.best-solutions{
    margin-bottom: 90px !important;
}
.best-solutions-img{
    margin-bottom: 15px !important;
}
.three-pict .row{
    width: 960px !important;
}
.three-pict-margin{
    margin-bottom: 25px !important;
}
.three-pict{
    padding: 55px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
}
@media only screen and (max-width: 1150px){
    .latest-promotions p{
        font-size: 18px !important;
    }
    .lunch h1{
        font-size: 92px !important;
    }
}
@media only screen and (max-width: 1100px){
    .lunch h1{
        font-size: 88px !important;
    }
    .navbar-book{
        letter-spacing: 1px !important;
        font-size: 14px !important;
        line-height: 14px !important;
        padding: 13px 27px !important;
    }
}
@media only screen and (max-width: 1050px){
    .lunch h1{
        font-size: 85px !important;
    }
}
@media only screen and (max-width: 1035px){
    .lunch h1{
        font-size: 83px !important;
    }
    .latest-promotions p{
        font-size: 17px !important;
    }
    .navbar-book{
        letter-spacing: 1px !important;
        font-size: 13px !important;
        line-height: 13px !important;
        padding: 13px 25px !important;
    }
}

@media only screen and (max-width: 959px) {
    .lunch h1{
        font-size: 99px !important;
        font-weight: 400 !important;
    }.navbar-book{
        letter-spacing: 1px !important;
        font-size: 11px !important;
        line-height: 11px !important;
        padding: 15px 35px !important;
    }
    .my_container{
        width: 748px;
    } 
    .our-news .row{
        width: 748px !important;
    }
    .our-news img{
        width: 718px !important;
    }
    .linear-gradient-img{
        width: 718px !important;
    } 
    .promotion .row{
        width: 748px;
    }
    .same-width{
        width: 718px;
    }
    .times .row{
        width: 748px !important;
    }
    .three-pict .row{
        width: 748px !important;
    }
}
@media only screen and (max-width: 900px){
    .lunch h1{
        font-size: 88px !important;
        font-weight: 400 !important;
    }.navbar-book{
        letter-spacing: 1px !important;
        font-size: 10px !important;
        line-height: 10px !important;
        padding: 13px 31px !important;
    }
}
@media only screen and (max-width: 880px){
    .lunch h1{
        font-size: 86px !important;
        font-weight: 400 !important;
    }.navbar-book{
        letter-spacing: 1px !important;
        font-size: 9px !important;
        line-height: 9px !important;
        padding: 13px 30px !important;
    }
    .latest-promotions p{
        font-size: 17px !important;
    }
}
@media only screen and (max-width: 860px){
    .lunch h1{
        font-size: 84px !important;
        font-weight: 400 !important;
    }
}
@media only screen and (max-width: 840px){
   .lunch h1{
        font-size: 76px !important;
        font-weight: 400 !important;
    }
}
@media only screen and (max-width:804px){
    .lunch h1{
        font-size: 69px !important;
        letter-spacing: -5px !important;
        line-height: 69px !important;
    }
    .parallax-info-1{
        text-align: center;
        margin-top: 120px;
    }
    .parallax-info-2{
        text-align: center;
        margin-top: 120px;
    }
    .latest-promotions p{
        font-size: 14px !important;
        letter-spacing: 3px !important;
    }
    .navbar-book{
        font-size: 11px !important;
        font-weight: 700 !important;
    }
}
@media only screen and (max-width: 767px){
    .slick-arrow{
        display: none !important;
    }
    .lunch h1{
        font-size: 62px !important;
        letter-spacing: -5px !important;
        line-height: 62px !important;
    }
    .latest-promotions p{
        font-size: 12px !important;
        letter-spacing: 3px !important;
    }
    .navbar-book{
        font-size: 10px !important;
        line-height: 10px !important;
        padding: 13px 31px !important;
        font-weight: 700 !important;
    }
    .my_container {
        width: 460px;
    }
    .our-news .row{
        width: 460px !important;
    }
    .our-news img{
        width: 430px !important;
    }
    .linear-gradient-img{
        width: 430px !important;
    } 
    .our_services{
        font-size: 40px !important;
    }
    .my_container img{
        width: 100%;
    }
    .our_services h1{
        font-size: 40px !important;
    }
    .promotion .row{
        width: 460px;
    }
    .same-width{
        width: 430px;
    }
    .special-style h1{
        font-size: 40px !important;
    }
    .special-style{
        padding: 100px 0px !important;
    }
    .times .row{
        width: 460px !important;
    }
    .three-pict .row{
        width: 460px !important;
    }
}
@media only screen and (max-width: 690px){
    .lunch h1{
        font-size: 57px !important;
        letter-spacing: -5px !important;
        line-height: 57px !important;
    }
    .latest-promotions p{
        font-size: 11px !important;
        line-height: 16px !important;
        letter-spacing: 3px !important;
    }
    .navbar-book{
        font-size: 9px !important;
        line-height: 9px !important;
        padding: 12px 28px !important;
        font-weight: 700 !important;
    }
}
@media only screen and (max-width: 600px){
    .parallax-info-1{
        margin-top: 180px;
    }
    .lunch h1{
        font-size: 52px !important;
        letter-spacing: -5px !important;
        line-height: 52px !important;
    }
    .latest-promotions p{
        font-size: 10px !important;
        line-height: 15px !important;
        letter-spacing: 2px !important;
    }
    .navbar-book{
        font-size:8px !important;
        line-height: 8px !important;
        padding: 11px 26px !important;
        font-weight: 700 !important;
    }
}
@media only screen and (max-width: 544px){
    .parallax-info-1
    .lunch h1{
        font-size: 45px !important;
        letter-spacing: -5px !important;
        line-height: 45px !important;
    }
    .latest-promotions p{
        font-size: 9px !important;
        line-height: 13px !important;
        letter-spacing: 2px !important;
    }
    .navbar-book{
        font-size:7px !important;
        line-height: 7px !important;
        padding: 10px 22px !important;
        font-weight: 700 !important;
    }
}
@media only screen and (max-width: 496px){
    .under-the-header1{
        height: 600px !important;
    }
    .under-the-header2{
        height: 600px !important;
    }
    .parallax-info-1{
        margin-top: -50px !important;
    }
    .parallax-info-2{
        margin-top: -50px !important;
    }
    .lunch h1{
        font-size: 49px !important;
        letter-spacing: -5px !important;
        line-height: 49px !important;
    }
    .latest-promotions p{
        font-size: 12px !important;
        line-height: 22px !important;
        letter-spacing: 1px !important;
    }
    .navbar-book{
        font-size:11px !important;
        line-height: 11px !important;
        padding: 15px 34px !important;
        font-weight: 700 !important;
    }
    .padding-parallax{
        padding: 100px 0px !important;
    }
}
@media only screen and (max-width: 479px){
    .time{
        white-space: nowrap !important;
    }
    .lunch h1{
        font-size: 42px !important;
        letter-spacing: -5px !important;
        line-height: 42px !important;
    }
    .latest-promotions p{
        font-size: 10px !important;
        line-height: 18px !important;
        letter-spacing: 1px !important;
    }
    .navbar-book{
        font-size:9px !important;
        line-height: 9px !important;
        padding: 13px 29px !important;
        font-weight: 700 !important;
    }
    .my_container{
         width: 300px;
    }
    .our-news .row{
        width: 300px !important;
    }
    .our-news img{
        width: 270px !important;
    }
    .linear-gradient-img{
        width: 270px !important;
    }
    .promotion .row{
        width: 300px;
    }
    .same-width{
        width: 270px;
    }
    .times .row{
        width: 300px !important;
    }
    .center_words{
        width: 300px !important;
    text-align: center !important;
    margin-bottom: 50px !important;
    }
    .best-solutions-img{
        width: 300px !important;
        text-align: center;
    }
    .best-solutions p{
        width: 300px !important;
        text-align: center;
    }
    .bestsolutions{
        width: 300px !important;
    }
    .three-pict .row{
        width: 300px !important;
    }
}
@media only screen and (max-width: 400px){
    .lunch h1{
        font-size: 33px !important;
        letter-spacing: -5px !important;
        line-height: 33px !important;
    }
    .latest-promotions p{
        font-size: 8px !important;
        letter-spacing: 1px !important;
    }
    .navbar-book{
        font-size: 7px !important;
        line-height: 7px !important;
        padding: 10px 23px !important;
        font-weight: 700 !important;
    }
}
.meals_time{
    background-color: #c0a58b;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    padding: 7px 10px;
    font-size: 13px;
    line-height: 13px;
    color: #fff !important;
}
.meals_time_different{
    background-color: white;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    padding: 7px 10px;
    font-size: 13px;
    line-height: 13px;
    color: #2d2d2d !important;
    border: 1px solid #f1f1f1;
}
.nd_options_position_absolute{
    width: 90%;
    bottom: 12px;
    position: absolute;
    border-bottom: 2px dotted #f1f1f1;
    height: 3px;
    display: block;
}
.data{
    /* background: linear-gradient(to bottom, rgba(45,45,45,0.2) 0%, rgba(45,45,45,0.9) 100%),url("http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/para-10.jpg");    background-size: cover; */
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    margin-top: 60px !important;
}
.style-data{
    padding-left: 55.5px;
    padding-right: 55.5px;
}
.data p{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 30px;
}
.data span{
    color: #ffffff;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 3px;
    font-weight: lighter;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.center_words{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.bestsolutions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.center_words h2{
    font-family: 'Kristi', cursive !important;
    font-size: 70px;
    color: #eeeeee;
}
.our_services{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    position: absolute;
    top: 45px;
}
.our_services_menu{
    width: 100%;
}
.our_services h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: #2d2d2d;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 2px;
}
.our-news{
    padding: 75px;
}
.our-news h4{
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 3px;
    color: #c0a58a;
}
.our-news h1{
    color: #2d2d2d;
    font-size: 30px;
    line-height: 30px;
}
.our-news h5{
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 3px;
    font-weight: lighter;
}
.our-news a{
    background-color: #c0a58a;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 16px;
    color: white;
}
.our-news a:hover{
    color: white;
    text-decoration: none;
}
.linear-gradient-img{
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(101,100,96,0)),color-stop(60%, rgba(101,100,96,0.1)),to(rgba(101,100,96,0.65)));
    background: -o-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    position: absolute;
    top: 0;
}
.service{
    margin-top: 0px !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/slide-04.jpg"); */
    /* background-size: cover;
    background-position: center; */
}
.service h1{
    font-size: 25px;
    color: #2d2d2d;
    font-weight: normal;
    margin-bottom: 20px;
}
.service p{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 0;
    margin-bottom: 10px;
}
.service input{
    font-size: 15px;
}
::-webkit-input-placeholder{
    font-weight: lighter;
}
::-moz-placeholder{
    font-weight: lighter;
}
:-ms-input-placeholder{
    font-weight: lighter;
}
::-ms-input-placeholder{
    font-weight: lighter;
}
::placeholder{
    font-weight: lighter;
}
.email{
    border: 1px solid #f1f1f1;
    width: 60%;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 8px 18px;
}
.subscribe{
    padding: 8px 20px;
    width: 100%;
    background-color: #c0a58a;
    border-style: none;
    border-radius: 4px;
    color: white;
}
.card{
    background: white;
    border-radius: 0 !important;
    margin-right: 100px ;
    margin-left: 100px ;
    padding-top: 40px !important;
    padding-right: 33px !important;
    padding-bottom: 40px !important;
    padding-left: 33px !important;
}
.service-right{
    padding: 35px 100px !important;
}
.service-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.service-right p{
    color: white;
    border-radius: 3px;
    letter-spacing: 2px;
    line-height: 13px;
    font-size: 13px;
    background-color: #c0a58a;
    padding: 5px 10px;
}
.service-right img{
    margin-bottom: 30px;
}
.footer-background{
    padding-top: 50px !important;
padding-bottom: 50px !important;
background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/para-05.jpg?id=591) !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
color: #ffffff;
}
.footer-img{
    margin: 8px;
    cursor: pointer;
}
.footer-list{
    letter-spacing: 2px;
}
.class-footer-img{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer-list p{
    margin-bottom: 0 !important;
}
.footer-parts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#footer-parts{
    padding-right: 80px;
    padding-left: 80px;
}
.down-footer{
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}
.fixed-backet{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
}
.big-backet{
    height: 65px;
    width: 65px;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.15);
            box-shadow: 0px 0px 20px rgba(0,0,0,.15);
    background-color: #2d2d2d;
    border-radius: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.money{
    font-size: 8px;
    color: white;
    position: absolute;
    left: 13px;
    top: 9px;
}
.count{
    margin-top: 5px;
    font-size: 25px;
    color: white;
    padding-left: 5px;
}
.new{
    color: white;
    position: absolute;
    top: 1px;
    left: 16px;
    font-size: 8px;
    line-height: 10px;
    padding: 3px 5px;
    background-color: #c0a58a;
    }
.fixed-small{
    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index:2;
}
.img-fixed-small{
    background-color: #2d2d2d;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.15);
            box-shadow: 0px 0px 20px rgba(0,0,0,.15);
    border-radius: 100%;
    height: 35px;
    width: 35px;
}
.parallax-window {
    min-height: 300px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(45,45,45,0.2)), to(rgba(45,45,45,0.9)));
    background: -o-linear-gradient(top, rgba(45,45,45,0.2) 0%, rgba(45,45,45,0.9) 100%);
    background: linear-gradient(to bottom, rgba(45,45,45,0.2) 0%, rgba(45,45,45,0.9) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.parallax-window-book{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(45,45,45,0.2)), to(rgba(45,45,45,0.9)));
    background: -o-linear-gradient(top, rgba(45,45,45,0.2) 0%, rgba(45,45,45,0.9) 100%);
    background: linear-gradient(to bottom, rgba(45,45,45,0.2) 0%, rgba(45,45,45,0.9) 100%);
    margin-top: 70px;
}
.parallax-window-service{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(28,28,28,0.2)), to(rgba(28,28,28,0.7)));
    background: -o-linear-gradient(top, rgba(28,28,28,0.2) 0%, rgba(28,28,28,0.7) 100%);
    background: linear-gradient(to bottom, rgba(28,28,28,0.2) 0%, rgba(28,28,28,0.7) 100%);
}


/* for parallax(navbar) */
  
.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
  }
  
  .slick-dots li button {
    border: 2px solid white !important;
    background: transparent;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    outline: none;
  }
  
  .slick-dots .slick-active button{
    -webkit-animation-name: forbutton;
            animation-name: forbutton;
    background: white;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}
@-webkit-keyframes forbutton{
    0%{
        background: transparent;
    }
    100%{
        background: white;
    }
}
@keyframes forbutton{
    0%{
        background: transparent;
    }
    100%{
        background: white;
    }
}

  
  .slick-dots li button::before {
    font-size: 18px;
    color: #fff;
    opacity: 1;
  }
  @-webkit-keyframes arrow{
      0%{
          right: 80px;
      }
      100%{
          right: 60px;
      }
  }
  @keyframes arrow{
      0%{
          right: 80px;
      }
      100%{
          right: 60px;
      }
  }
  .slick-arrow{
    background: transparent;
    border-style: none;
    position: absolute;
    bottom: 50px;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: arrow;
            animation-name: arrow;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    cursor: pointer;
  }
  .slick-arrow svg path{
    -webkit-transition: 0.3s all ease !important;
    -o-transition: 0.3s all ease !important;
    transition: 0.3s all ease !important;
  }
  .slick-arrow svg:hover path{
      fill: rgb(45, 48, 50) !important;
  }
  /* @-webkit-keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  } */
  
  @-webkit-keyframes fadeInUpSD {
    0%,50% {
        width: 0%;
     /* display: none;
      -webkit-transform: translatex(-100px);
      transform: translatex(-100px); */
    }
  
    100% {
        width: 100%;
      /* display: block; */
      /* -webkit-transform: none; */
      /* transform: none; */
    }
  }
  
  @keyframes fadeInUpSD {
    0%,50% {
        width: 0%;
     /* display: none;
      -webkit-transform: translatex(-100px);
      transform: translatex(-100px); */
    }
  
    100% {
        width: 100%;
      /* display: block; */
      /* -webkit-transform: none; */
      /* transform: none; */
    }
  }
  
  .fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
  }
  .slick-active .parallax-info-1{
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation-name: fadeInUpSD;
            animation-name: fadeInUpSD;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    opacity: 1;
    width: 100%;
}
.slick-active .parallax-info-2{
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation-name: fadeInUpSD;
            animation-name: fadeInUpSD;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    opacity: 1;
    width: 100%;
}
.padding-parallax{
    padding: 100px;
}
/* #slick-slide-control01:focus .first{
    visibility: hidden !important;
} */
/* end parallax(navbar) */
.lunch h1{
    margin-bottom: 20px;
    font-size: 100px;
    line-height: 90px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
}
.latest-promotions p{
    margin-left: 8px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
}
.navbar-book{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    background-color: rgb(192, 165, 138);
    border-radius: 3px;
    padding: 15px 30px;
    display: inline-block;
    color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 8px;
}
.navbar-book:hover{
    background: rgb(45,48,50);
}
.navbar-book a{
    color: white;
}
.navbar-book a:hover{
    color: white;
    text-decoration: none;
}

