@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}


.body{
font-weight: normal !important;
letter-spacing: 1px !important;
color: #7e7e7e !important;
font-size: 14px !important;
line-height: 27px !important;
overflow-x: hidden !important;
font-weight: 400 !important;
}


.top-of-header{
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.tph-left-side{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    color: #7e7e7e;
}
.tph-right-side{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 13px;
    color: #7e7e7e;
}
.symbol-social{
    display: flex;
    justify-content: space-around;
}


/* Header ul bar */

.under-the-header{
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/02/para-01.jpg);

}
.nd_options_background_position_center_bottom {
    background-position: center bottom;
}
.nd_options_background_size_cover {
    background-size: cover;
}
.nd_options_section {
    width: 100%;
    float: left;
}
.main-li{
    list-style: none;
    position: relative;
   
}

.main-li ul{
    position: absolute;
    /* display: none; */
    top:30px;
}

.main-li a{
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    color: #ffffff;
}
.secondary-li{
    color: white;
    list-style: none;
}
.arrows{
    padding-left: 75px;
}
.arrows-menu{
    padding-left: 68px;
}

.logo-ristorante{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-div{
    padding-top: 20px;
}
#nav-home{
    padding-left: 14px;
}
.header-ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-under-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    background: -moz-linear-gradient(top, rgba(45,45,45,0.4) 0%, rgba(45,45,45,0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(45,45,45,0.4) 0%, rgba(45,45,45,0.9) 100%);
    /* background: linear-gradient(to bottom, rgba(45,45,45,0.4) 0%, rgba(45,45,45,0.9) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
    
}

.h1-book-a-table{
    font-family: 'Kristi', cursive;
    font-size: 120px;
    color: white;
    font-weight: 400;
}
.empty-for-height{
    height: 200px;
}
.home-li{
    display: none;
}

.menu-home:hover .home-li{
    display: block;
}
.about-li{
    display: none;
}
.menu-about:hover .about-li{
    display: block;
}
.pages-li{
    display: none;
}
.menu-pages:hover .pages-li{
    display: block;
}
.list-of-services{
    width:100%;
    position:relative;
    display: flex;
    justify-content: space-between;
}

.services-ul{
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;

}

.list-of-services:hover .services-ul{
    display: block;
}
.main-li ul{
    margin-left: 0px;
    padding-top: 0px;
    width: 195px;
    z-index: 999;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    background-color: white;
    
}
.secondary-li{
    color: #7e7e7e;
    padding: 15px 25px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 2px 5px #f1f1f1;
    float: left;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}
.list-of-menu{
    position:relative;
    display: flex;
    justify-content: space-between;
}

.menu-ul{
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}
.list-of-menu:hover .menu-ul{
    display: block;
}
.hot{
   padding: 3px 5px;
    background-color: #b66565;
}
.book-for-hot::after{
    content: "HOT";
    float: right;
    background-color: #b66565;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}
.best-for-about::after{
    content: "BEST";
    float: right;
    background-color: #c0a58a;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}
.delivery-for-new::after{
    content: "NEW";
    float: right;
    background-color: #2d2d2d;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}
.list-of-contact{
    position:relative;
    display: flex;
    justify-content: space-between;
}
.arrows-contact{
    padding-left: 80px;
}

.contact-ul{
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}
.list-of-contact:hover .contact-ul{
    display: block;
}
.list-of-about{
    position:relative;
    display: flex;
    justify-content: space-between;
}
.arrows-about{
    margin-left: 72px;
}

.about-ul{
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}
.list-of-about:hover .about-ul{
    display: block;
}
.main-menu-ul{
    display: none;
}
.menu-menu:hover .main-menu-ul{
    display: block;
}
.shop-li{
    display: none;
}
.menu-shop:hover .shop-li{
    display: block;
}

.news-li{
    display: none;
}
.menu-news:hover .news-li{
    display: block;
}
.list-of-singlePost{
    position:relative;
    display: flex;
    justify-content: space-between;
}

.single-post{
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}
.list-of-singlePost:hover .single-post{
    display: block;
}
.main-contact-ul{
    display: none;
}
.main-contact:hover .main-contact-ul{
    display: block;
}
/* .book-a-table-ul{
    display: none;
}
.book-a-table:hover .book-a-table-ul{
    display: block;
} */
.book-a-table{
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px !important;
    padding: 10px !important;
    padding: 7px 15px !important;
    margin-left: 10px;
}
.book-a-table-ul{
    top: 35px !important;
}
.message-png{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* fin */


.big-image{
    width: 100%;
    padding: 30px;
    /* background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/product-03.jpg); */
}
.near-image{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 500px;
    padding-top: 14px;
}
.bean-soup{
    color: #2d2d2d;
    font-size: 30px;
    line-height: 30px;
}
.dollar-symbol{
    vertical-align: top;
    font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
    color: #7e7e7e;
    font-family: 'Quicksand', sans-serif;
}
.price-of-soup{
    font-size: 30px;
    line-height: 30px;
    color: #7e7e7e;
    font-family: 'Quicksand', sans-serif;
}
.description-1 , .description-2{
    color: #7e7e7e;
    font-size: 14px;
    line-height: 27px;
}
.count-of-order input{
    min-width: 100px;
    height: 34px;
    width: 3.631em;
    text-align: center;
    background-color: #fff;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 0px;
    border-style: solid;
    padding: 10px 20px;
    -webkit-appearance: none;
    color: #7e7e7e;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.button-add-to-card button{
    background-color: #c0a58a;
    border-radius: 3px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    text-decoration: none;
    background-image: none;
    border-width: 1px;
    border-color: #c0a58a;
    cursor: pointer;
    font-size: 100%;
    line-height: 1;
    font-weight: 700;
}
.category a{
    padding: 8px;
    border: 1px solid #f1f1f1;
    font-size: 13px;
    line-height: 13px;
    display: inline-block;
    margin: 5px 10px;
    margin-left: 10px;
    margin-left: 0px;
    border-radius: 3px;
    color: #7e7e7e;
    text-decoration: none;
    font-weight: normal;
    padding-left: 10px !important;
}
.stars span a{
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
}
/* .stars span a::before{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: WooCommerce;
    content: '\e021';
    text-indent: 0;
} */
.checked{
    color: grey;
    
}
.description{
    text-decoration: none;
    color: #2d2d2d !important;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 17px !important;
    line-height: 17px;
    font-weight: normal !important;
    padding: 20px 10px !important;
}
.reviews{
    display: flex;
    flex-flow: column;
}
.reviews h2{
    padding-top: 15px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 40px;
    color: #2d2d2d;
}
.reviews p{
    color: #7e7e7e;
    font-size: 14px;
    line-height: 27px;
}
.bigger-one{
    font-size: 15px;
}
#textarea{
background-color: #fff;
border-width: 1px;
border-top-width: 1px;
border-right-width: 1px;
border-left-width: 1px;
border-color: #f1f1f1;
border-radius: 0px;
border-style: solid;
padding: 10px 20px;
-webkit-appearance: none;
color: #7e7e7e;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
height: 75px;

}
.reviews input{
background-color: #fff;
border-width: 1px;
border-top-width: 1px;
border-right-width: 1px;
border-left-width: 1px;
border-color: #f1f1f1;
border-radius: 0px;
border-style: solid;
padding: 10px 20px;
-webkit-appearance: none;
color: #7e7e7e;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
}
.reviews button{
text-decoration: none;
background-image: none;
font-size: 100%;
margin: 0;
line-height: 1;
cursor: pointer;
position: relative;
overflow: visible;
font-weight: 700;
border: 0;
display: inline-block;
box-shadow: none;
text-shadow: none;
background-color: #c0a58a !important;
border-radius: 0px !important;
padding: 8px 10px !important;
text-transform: uppercase;
font-family: 'Quicksand', sans-serif;
color: #fff !important;
width: 8%;
}
.related{
    margin-left: 20px;
    font-size: 25px;
    line-height: 25px;
    color: #2d2d2d;
    padding: 35px 0px !important;
}
.grilled-img{
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    margin-bottom: 1em;
    box-shadow: none;
    max-width: 100%;
    padding: 20px;
}
.carts-details{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.carts-details h2{
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0px;
    font-weight: normal;
    color: #2d2d2d;
}
.carts-details span{
    color: #7e7e7e !important;
font-size: 16px !important;
line-height: 16px !important;
font-weight: 400;
}
.carts-details a{
    padding-top: 10px;
    margin-top: 1em !important;
    text-decoration: none;
    background-image: none;
margin: 0;
cursor: pointer;
position: relative;
overflow: visible;
padding: .618em 1em;
left: auto;
display: inline-block;
background-image: none;
box-shadow: none;
text-shadow: none;
font-size: 13px !important;
line-height: 13px !important;
color: #7e7e7e !important;
font-weight: normal !important;
text-transform: uppercase;
border-radius: 3px !important;
border: 1px solid #f1f1f1 !important;
background-color: #fff !important;
font-family: 'Quicksand', sans-serif !important;
}
.logo_responsive img{
    width: 120px;
    height: 39px;
}
.logo_responsive{
    margin-right: 50px;
}
.hamburger{
    width: 25px;
    height: 25px;
    /* background-color: #1C1C1C; */
    /* margin-right: -800px; */
    float: right;
}
.line{
    margin-top: 5px;
    background-color:#7e7e7e;
    width: 25px;
    height: 2px;
}
.inhamburger{
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0px;
    right: -600px;
    z-index: 10;
    overflow-x: scroll;
    transition: 1s ease-in;
    transition: 1s ease-out;
}
.hamburger-ul{
    display: flex;
    flex-direction: column;
    background-color:  rgb(45, 45, 45);
}
.home-ul{
    /* background-color:blanchedalmond; */
    list-style: none;
    position: relative;
}
.hamburger-ul-li{
    list-style: none;
}
.hamburger-ul-li a{
    text-decoration: none;
    /* list-style: none; */
    color: #fff;
    font-weight: normal;
    letter-spacing: 0px;
}
.in-home-li{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 35px;
    color: white;
    list-style: none;
}
.hamburger-ul-li-in-li{
    list-style: none;
}
.in-home-second-li span{
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 35px;
}
.hamburger-ul-li-bookatable{
    list-style: none;
}
.hamburger-ul-li-bookatable a{
    list-style: none;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px !important;
    padding: 7px 15px !important;
}
.hamburger-x img{
    width: 20px;
    height: 20px;
}
.hamburger-x{
    width: 25px;
    height: 25px;
    /* float: right; */
    position: absolute;
    top: -5px;
    right: 20px;
    cursor: pointer;
}
.show{
    right: 0;
}
.footer-background{
    padding-top: 50px !important;
padding-bottom: 50px !important;
background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/para-05.jpg?id=591) !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
color: #FFFFFF;
}
.footer-img{
    margin: 8px;
    cursor: pointer;
}
.footer-list{
    letter-spacing: 2px;
}
.class-footer-img{
    justify-content: center;
}
.footer-list p{
    margin-bottom: 0 !important;
}
.footer-parts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footer-parts{
    padding-right: 80px;
    padding-left: 80px;
}
.down-footer{
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}
.fixed-backet{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
}
.big-backet{
    height: 65px;
    width: 65px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.15);
    background-color: #2D2D2D;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.money{
    font-size: 8px;
    color: white;
    position: absolute;
    left: 13px;
    top: 10px;
}
.count{
    font-size: 25px;
    color: white;
    padding-left: 5px;
}
.new{
    color: white;
    position: absolute;
    top: 1px;
    left: 16px;
    font-size: 8px;
    line-height: 10px;
    padding: 3px 5px;
    background-color: #C0A58A;
    }
.fixed-small{
    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index:2;
}
.img-fixed-small{
    background-color: #2D2D2D;
    box-shadow: 0px 0px 20px rgba(0,0,0,.15);
    border-radius: 100%;
    height: 35px;
    width: 35px;
}
.middle{
    width: 1200px;
    margin: auto;
    padding: 0px;
}
.stylemiddle{
    padding: 20px 40px 20px 40px !important;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    left: -40.5px;
    box-sizing: border-box;
    width: 1311px;
}
.my_container{
    width: 90% !important;
}