@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.body {
    font-weight: normal !important;
    letter-spacing: 1px !important;
    color: #7e7e7e !important;
    font-size: 14px !important;
    line-height: 27px !important;
    overflow-x: hidden !important;
    font-weight: 400 !important;
}

.top-of-header {
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-li a:hover {
    color: white;
}

.main-li a {
    text-decoration: none !important;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    color: #ffffff;
}

.tph-left-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    color: #7e7e7e;
}

.tph-right-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    color: #7e7e7e;
}

.symbol-social {
    display: flex;
    justify-content: space-around;
}


/* Header ul bar */

.under-the-header {
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/para-06.jpg);
}

.nd_options_background_position_center_bottom {
    background-position: center bottom;
}

.nd_options_background_size_cover {
    background-size: cover;
}

.nd_options_section {
    width: 100%;
    float: left;
}

.main-li {
    list-style: none;
    position: relative;
}

.main-li ul {
    position: absolute;
    /* display: none; */
    top: 30px;
}

.main-li a {
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    color: #ffffff;
}

.secondary-li {
    color: white;
    list-style: none;
}

.arrows {
    padding-left: 75px;
}

.arrows-menu {
    padding-left: 68px;
}

.logo-ristorante {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-div {
    padding-top: 20px;
}

.header-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-under-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    background: -moz-linear-gradient(top, rgba(45, 45, 45, 0.4) 0%, rgba(45, 45, 45, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(45, 45, 45, 0.4) 0%, rgba(45, 45, 45, 0.9) 100%);
    /* background: linear-gradient(to bottom, rgba(45,45,45,0.4) 0%, rgba(45,45,45,0.9) 100%); */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460', GradientType=0);
}

.h1-book-a-table {
    font-family: 'Kristi', cursive;
    font-size: 120px;
    color: white;
    font-weight: 400;
}

.empty-for-height {
    height: 200px;
}

.home-li {
    display: none;
}

.menu-home:hover .home-li {
    display: block;
}

.about-li {
    display: none;
}

.menu-about:hover .about-li {
    display: block;
}

.pages-li {
    display: none;
}

.menu-pages:hover .pages-li {
    display: block;
}

.list-of-services {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.services-ul {
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}

.list-of-services:hover .services-ul {
    display: block;
}

.main-li ul {
    margin-left: 0px;
    padding-top: 0px;
    width: 195px;
    z-index: 999;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    background-color: white;
}

.secondary-li {
    color: #7e7e7e;
    padding: 15px 25px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 2px 5px #f1f1f1;
    float: left;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.list-of-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu-ul {
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}

.list-of-menu:hover .menu-ul {
    display: block;
}

.hot {
    padding: 3px 5px;
    background-color: #b66565;
}

.book-for-hot::after {
    content: "HOT";
    float: right;
    background-color: #b66565;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}

.best-for-about::after {
    content: "BEST";
    float: right;
    background-color: #c0a58a;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}

.delivery-for-new::after {
    content: "NEW";
    float: right;
    background-color: #2d2d2d;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}

.list-of-contact {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.arrows-contact {
    padding-left: 80px;
}

.contact-ul {
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}

.list-of-contact:hover .contact-ul {
    display: block;
}

.list-of-about {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.arrows-about {
    margin-left: 72px;
}

.about-ul {
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}

.list-of-about:hover .about-ul {
    display: block;
}

.main-menu-ul {
    display: none;
}

.menu-menu:hover .main-menu-ul {
    display: block;
}

.shop-li {
    display: none;
}

.menu-shop:hover .shop-li {
    display: block;
}

.news-li {
    display: none;
}

.menu-news:hover .news-li {
    display: block;
}

.list-of-singlePost {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.single-post {
    display: none;
    position: absolute;
    /* left: 210px; */
    top: 0 !important;
    margin-left: 165px !important;
    padding-left: 25px !important;
    padding-top: 0 !important;
    background: transparent !important;
}

.list-of-singlePost:hover .single-post {
    display: block;
}

.main-contact-ul {
    display: none;
}

.main-contact:hover .main-contact-ul {
    display: block;
}


/* .book-a-table-ul{
        display: none;
    }
    .book-a-table:hover .book-a-table-ul{
        display: block;
    } */

.book-a-table {
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px !important;
    padding: 10px !important;
    padding: 7px 15px !important;
    margin-left: 10px;
}

.book-a-table-ul {
    top: 35px !important;
}

.message-png {
    display: flex;
    justify-content: end;
    align-items: center;
}

.after-header {
    padding-top: 20px !important;
}

.type-of-meals {
    padding-top: 20px;
    display: flex;
    flex-flow: column;
}

.wines {
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    line-height: 20px;
}

.txt-about-meals {
    margin: 20px 0px;
    color: #878787;
    font-size: 14px;
    line-height: 24px;
}

.read-more-btn {
    font-size: 11px;
    line-height: 11px;
    border-radius: 0px;
    border: 0px solid;
    background-color: #1c1c1c;
    padding: 8px 12px;
    color: #ffffff;
}

.first-sect {
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/post-02.jpg);
    background-size: cover;
    padding: 40px;
    width: 100% !important;
    line-height: 1.5;
    /* height: 483px !important; */
}

.grey-line {
    background-color: #e4e4e4;
    width: 30px;
    height: 2px;
}

.read-white-btn {
    border: 1px solid #f1f1f1;
    padding: 10px 20px;
    line-height: 16px;
    text-align: center;
}

.for-texts {
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 40px;
}

.card {
    position: absolute;
    /* left: 0px; */
    /* top: 0px; */
    border-style: none !important;
}

.all-cards {
    /* height: 483px; */
    position: relative;
    padding-top: 20px;
    display: flex;
    z-index: 10;
}

.for-texts h3,
h5 {
    color: #7e7e7e;
}

.for-texts h3 {
    font-size: 20px;
    line-height: 50px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.for-texts h5 {
    font-size: 15px;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.for-texts p {
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 40px;
    color: #7e7e7e;
    text-align: center;
}

.for-texts button {
    text-align: center;
    line-height: 16px;
    padding: 10px 20px;
    color: #7e7e7e;
    border-style: none;
    background-color: white;
    font-size: 14px;
}

.second-part {
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/post-03.jpg);
}

.third-part {
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/post-04.jpg);
}

.third-section {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 100%;
    padding: 30px;
}

.for-bg-img {
    height: 100%;
    /* background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/para-02.jpg); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.facilities {
    /* padding-top: 30px !important; */
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    /* align-items: center; */
    text-align: left !important;
    padding: 40px !important;
    height: 80% !important;
}

.facil {
    color: #ffffff;
    /* padding: px; */
    font-size: 50px;
    line-height: 30 px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.after-facil {
    color: #ffffff;
    /* padding: px; */
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 3px;
    font-weight: lighter;
}

.but-in-facil {
    border-radius: 3px;
    letter-spacing: 2px;
    line-height: 16px;
    font-size: 16px;
    background-color: #c0a58a;
    padding: 15px 35px;
    color: #ffffff;
    border-style: none;
}

.white-cards {
    border-radius: 3px;
    width: 100%;
}

.in-white-cards {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 10px 0px;
}

.meal {
    font-size: 35px;
    color: #2d2d2d;
    line-height: 45px;
}

.meal-from {
    color: #7e7e7e;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 12px;
}

.forth-section {
    padding-top: 20px;
}

.take-away {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 0px !important;
    padding-top: 60px !important;
    padding-right: 60px !important;
    padding-bottom: 60px !important;
    padding-left: 60px !important;
    border-left-color: #f1f1f1 !important;
    border-left-style: solid !important;
    border-right-color: #f1f1f1 !important;
    border-right-style: solid !important;
    border-top-color: #f1f1f1 !important;
    border-top-style: solid !important;
    border-bottom-color: #f1f1f1 !important;
    border-bottom-style: solid !important;
}

.h4s {
    padding-top: 10px;
    color: #878787;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.div-of-best {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-solutions {
    color: #eeeeee;
    padding: px;
    text-align: center;
    font-size: 70px;
    line-height: 25 px;
    letter-spacing: 0px;
    font-weight: normal;
    font-family: 'Kristi', sans-serif;
    margin: 0px;
    padding: 0px;
}

.our-services {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

.daily-all {
    display: flex;
    padding: 30px 0px;
}

.daily-menu {
    display: flex;
    flex-flow: column;
}

.daily-menu h3 {
    color: #1c1c1c;
    font-size: 20px;
    line-height: 20px;
}

.daily-menu p {
    color: #878787;
    font-size: 14px;
    line-height: 24px;
}

.daily-menu a {
    width: 89px;
    font-size: 11px;
    line-height: 11px;
    border-radius: 0px;
    border: 0px solid;
    background-color: #1c1c1c;
    padding: 8px 12px;
    color: #ffffff;
}

.img-of-daily {
    padding-right: 20px;
}

.div-of-our-service {
    padding-bottom: 20px;
}


/* .parallax-mirror {
    left: -15px !important;
} */

.parallax-window {
    left: 15px;
    height: 100%;
    min-height: 400px !important;
    background: transparent;
    position: absolute;
    background: linear-gradient(to bottom, rgba(28, 28, 28, 0.2) 0%, rgba(28, 28, 28, 0.7) 100%);
}


/* .up-footer{
    position: relative;
    left: -42px;
    box-sizing: border-box;
    width: 103% !important;
    padding-left: 42px;
    padding-right: 42px;
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/para-03.jpg);
} */

.budiv {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 1;
    /* height: 400px; */
}

.doing {
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
    font-weight: normal;
}

.numbers {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}

.numbers-div {
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    width: 66%;
    justify-content: space-around;
}

.rest-cats {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.doing-div {
    padding-top: 80px;
    padding-left: 50px;
}

.doing-span {
    padding-left: 20px;
}

.logo_responsive img {
    width: 120px;
    height: 39px;
}

.logo_responsive {
    margin-right: 50px;
}

.hamburger {
    width: 25px;
    height: 25px;
    /* background-color: #1C1C1C; */
    /* margin-right: -800px; */
    float: right;
}

.line {
    margin-top: 5px;
    background-color: #7e7e7e;
    width: 25px;
    height: 2px;
}

.inhamburger {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0px;
    right: -600px;
    z-index: 10;
    overflow-x: scroll;
    transition: 1s ease-in;
    transition: 1s ease-out;
}

.hamburger-ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 45, 45);
}

.home-ul {
    /* background-color:blanchedalmond; */
    list-style: none;
    position: relative;
}

.hamburger-ul-li {
    list-style: none;
}

.hamburger-ul-li a {
    text-decoration: none;
    /* list-style: none; */
    color: #fff;
    font-weight: normal;
    letter-spacing: 0px;
}

.in-home-li {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 35px;
    color: white;
    list-style: none;
}

.hamburger-ul-li-in-li {
    list-style: none;
}

.in-home-second-li span {
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 35px;
}

.hamburger-ul-li-bookatable {
    list-style: none;
}

.hamburger-ul-li-bookatable a {
    list-style: none;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px !important;
    padding: 7px 15px !important;
}

.hamburger-x img {
    width: 20px;
    height: 20px;
}

.hamburger-x {
    width: 25px;
    height: 25px;
    /* float: right; */
    position: absolute;
    top: -5px;
    right: 20px;
    cursor: pointer;
}

.show {
    /* transition: 0.7s; */
    right: 0;
}

.footer-background {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-image: url(http://www.nicdarkthemes.com/themes/restaurant/wp/demo/restaurant/wp-content/uploads/sites/2/2019/01/para-05.jpg?id=591) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: #FFFFFF;
}

.footer-img {
    margin: 8px;
    cursor: pointer;
}

.footer-list {
    letter-spacing: 2px;
}

.class-footer-img {
    justify-content: center;
}

.footer-list p {
    margin-bottom: 0 !important;
}

.footer-parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-parts {
    padding-right: 80px;
    padding-left: 80px;
}

.down-footer {
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.fixed-backet {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1000;
}

.big-backet {
    height: 65px;
    width: 65px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    background-color: #2D2D2D;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.money {
    font-size: 8px;
    color: white;
    position: absolute;
    left: 13px;
    top: 10px;
}

.count {
    font-size: 25px;
    color: white;
    padding-left: 5px;
}

.new {
    color: white;
    position: absolute;
    top: 1px;
    left: 16px;
    font-size: 8px;
    line-height: 10px;
    padding: 3px 5px;
    background-color: #C0A58A;
}

.fixed-small {
    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index: 2;
}

.img-fixed-small {
    background-color: #2D2D2D;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    border-radius: 100%;
    height: 35px;
    width: 35px;
}

.middle {
    width: 1200px;
    margin: auto;
    padding: 0px;
}

.stylemiddle {
    padding: 20px 40px 20px 40px !important;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    left: -40.5px;
    box-sizing: border-box;
    width: 1311px;
}

.my_container {
    width: 90%;
}